# allowUpdateCheck (boolean:true) -- Set to true to allow checking for updates for ALL of my mods, false to disable
# allowDebugOutput (boolean:false)
# updateTimeoutMilliseconds (int:3000) -- The timeout in milliseconds for the version update check.
# 
# Sat Mar 31 17:38:41 CST 2018
allowDebugOutput=false
allowUpdateCheck=true
updateTimeoutMilliseconds=3000
